.app-web3util {

  width: 100%;
  height: 100%;
  position: relative;

  .panel {
    border: 1px solid rgba(200, 200, 200, 0.4);
    background-color: rgba(230, 230, 230, 0.4);
  }

  .notebook {
    position: fixed;
  
    bottom: 32px;
    right: 32px;
    width: 200px;
  
    transition: all 0.3s;
    opacity: 0.5;
  
    &:hover {
      width: 400px;
      opacity: 1;
    }
  
    .quicksave {
  
    }
    
    .notelist {
      height: 0;
      transition: all 0.3s;
  
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }
}